@tailwind base;
@tailwind components;
@tailwind utilities;


html {
  scroll-behavior: smooth;
  scroll-padding-top: 88px; 
}

:root {
  color-scheme: dark;
}

html, body {
  height: 100%;
}

body {
  @apply bg-brand-black text-brand-white antialiased;
}

